@model DomainLayer.RestoraniDomainModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Ponuda.css" rel="stylesheet" />
<link href="~/Content/HereMapStyling.css" rel="stylesheet" />
@{ Html.RenderPartial("_HereMapLinks");}

<input type="hidden" id="totalToLoad" value="@Model.TotalCount" />
<input type="hidden" id="retreivedNumber" value="0" />
@{ Html.RenderPartial("_HereMapInputs");} <!--_HereMapInputs goes with _HereMapPopUp partial  -->
<div class="changeInnerWidth90">
    <div class="setMaxWidth">
        <ul id="output" class="resultsDisplay">
        </ul>
    </div>
</div>
@{Html.RenderPartial("_HereMapPopUp", false);} <!--_HereMapPopUp goes with _HereMapInputs partial-->
<div class="initializeHeight">
    <div class="setLargeWidth">
        <div class="comboArea">
            <img src="~/Images/ponuda.jpg" alt="Dostava hrane" />
            <div class="imageCover"></div>
            <h2 class="setTitle"><span class="makeBolder">Našli smo @Model.TotalCount restorana</span> <br /> dostava u<span id="currentMunicipality">  Novi Beograd </span><img src="~/Images/edit.jpg" class="edit-glyphicon-icon" onclick="getSearchInput()" /> </h2>

        </div>
        <div class="setLargeWidth">
            <div class="absoluteMoveUp">
                <div class="makeInlineIndent">
                    <div class="setLargeWidth">
                        <p> <b>Dostava > </b><span id="setFullName">ulica novi beograd nehruova 95 11070</span></p>
                    </div>
                    <div class="makeDividble">
                        <div class="divideOnThird">
                            <div class="scrollFill">

                                <div class="setLargeWidth">

                                    <div class="changeInnerWidth90">
                                        <h4 class="changeMarginHight changeFontColor">KUHINJE</h4>
                                    </div>
                                    <div class="changeInnerWidth90">
                                        <ul>
                                            <li>  <input type="checkbox" checked id="-1" onchange="setCheck(this.id)" />    Prikaži sve kuhinje </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="setLargeWidth">
                                    <div class="changeInnerWidth90">
                                        <ul id="groupKuhinje">
                                            @foreach (var k in Model.KuhinjeModels)
                                            {
                                                <li><input class="groupKuhinje" type="checkbox" id="@k.KuhinjeID" onchange="setCheck(this.id)" />  @k.Ime</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divideOnSeven">
                            <div class="setLargeWidth">
                                <input class="search-box" type="search" onchange="pretrazi(this.value)" autocomplete="on" placeholder="Pretražite restorane" />
                            </div>
                            <div class="setLargeWidth" id="PrikazRestoranaId">

                                @{
                                    if (Model != null && Model.restoranDomainModels != null)
                                    {
                                        Html.RenderPartial("_RestoraniList",Model);
                                    }
                                }
                            </div>
                            <button class="btn-default" onclick="loadMoreItems()" id="loadMoreBtn">Ucitaj jos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/HereMapsLocal.js"></script> <!--HereMapsLocal.js goes with _HereMapPopUp and _HereMapInputs-->

<script src="~/Scripts/RestoraniStrana.js"></script>


