

    <div class="changeInnerWidth90 displayInputs-not" id="showSearchInputs">
        <div class="setMaxWidth">
            <input class="textBox-food" type="text" id="searchBox" placeholder="Unesite vašu adresu" />
            <button class="order-btn" onclick='CallUpdateAfterSearch()' title="Naručite">Naručite</button>
        </div>

    </div>
